.App {
  background: #141516;
  border: 1px solid #777;
  border-radius: 5px;
  margin: 30px auto;
  max-width: 780px;
  padding: 24px;
}

@media (max-width: 576px) {
  .App {
    padding: 16px;
  }
}
