.Weather .main-info h1 {
  margin: 0 auto;
}

.Weather .main-info h2 {
  font-size: 24px;
  margin: 0 auto;
}

.Weather .main-info h3 {
  font-size: 22px;
  font-weight: 400;
}

.Weather .main-info h3:first-letter {
  text-transform: capitalize;
}

.Weather .icon {
  display: inline-flex;
  width: 150px;
  position: relative;
  bottom: 20px;
}

.Weather .temperature {
  font-size: 70px;
  font-weight: 500;
}

.Weather .units-main {
  font-size: 22px;
  position: relative;
  bottom: 36px;
}

.Weather a {
  text-decoration: none;
}

.Weather ul {
  margin: 20px 0 0;
  padding: 0;
}

.Weather li {
  list-style: none;
}
