.WeatherInfo .main-info h1 {
  font-size: 40px;
  margin: 0 auto;
}

.WeatherInfo .main-info h3 {
  font-size: 22px;
  font-weight: 400;
}

.WeatherInfo .main-info h3:first-letter {
  text-transform: capitalize;
}

.WeatherInfo .big-icon {
  position: relative;
  bottom: 20px;
}

.WeatherInfo ul {
  margin: 20px 0 0;
  padding: 0;
}

.WeatherInfo li {
  font-size: 16px;
  list-style: none;
}

.WeatherTemp .temperature {
  font-size: 70px;
  font-weight: 500;
}

.WeatherTemp .units-main {
  font-size: 22px;
  position: relative;
  bottom: 36px;
}

.WeatherTemp a {
  text-decoration: none;
}

.DateAndTime h2,
.WeatherForecast h4 {
  font-size: 24px;
  margin: 0 auto;
}

.WeatherForecast {
  text-align: center;
}

@media (max-width: 767px) {
  .WeatherInfo .main-info h1 {
    font-size: 34px;
  }
  .WeatherInfo .current-weather {
    text-align: center;
  }
  .WeatherInfo .weather-conditions {
    text-align: center;
  }
  .WeatherInfo .big-icon {
    height: 80px;
    width: 80px;
  }
  .WeatherForecastDay .small-icon {
    height: 64px;
    width: 64px;
  }
}

@media (max-width: 576px) {
  .Weather .search-bar {
    margin-bottom: 15px;
  }
  .WeatherInfo .main-info h1 {
    font-size: 26px;
    margin-bottom: 5px;
  }
  .WeatherInfo .main-info h3 {
    font-size: 16px;
  }
  .WeatherInfo .weather-conditions {
    margin-top: 0;
    margin-bottom: 10px;
  }
  .WeatherTemp .temperature {
    font-size: 64px;
  }
  .WeatherTemp .units-main {
    font-size: 18px;
  }
  .DateAndTime h2,
  .WeatherForecastDay h4 {
    font-size: 20px;
  }
}
